<!--- MAIN CONTENT
====================================== -->  

    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner cover">
          <h1 class="cover-heading-a">UX</h1>

          <h1 class="cover-heading-b">Angels</h1>

          <h2 class="lead sub-quote">UX professionals changing the world—pro
          bono</h2>

          <div class="row" style="color: black;">
            <div class="col-sm-6" style="padding:10px 40px;">
              <h3>Startups & Nonprofits</h3>

              <p>Connect with pre-screened user experience professionals and
              get free UX consulting</p>

              <p><a class="btn btn-lg btn-uxa" href="/static_pages/requestus">Learn more</a></p>
            </div>

            <div class="col-sm-6" style="padding:10px 40px;">
              <h3>UX Designers</h3>

              <p>Solve problems, meet talented people, expand your network, and
              get early access to products</p>

              <p><a class="btn btn-lg btn-uxa" href="/static_pages/joinus">Learn
              more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
