<!--- JOIN US
====================================== -->          

<div class="hero-block" style="background-image: url('<%= asset_path('people-woman-coffee-meeting.jpg') %>')" >

  <div class="container">
    
		<div class="col-sm-6" style="background-color:rgba(0,0,0,0.8); padding: 10px 30px;">
      <h1>Why join UXA?</h1>
      <ol>
        <li> Share your expertise, solve problems, and be a hero</li>
			  <li> Meet talented people and expand your network</li>
			  <li> Experience new apps, products, and devices</li>
  		</ol>
  	</div>
	
	</div>

</div>       

<div class="container">
  
  <div class="col-sm-6">
  	<h1>How it works</h1>
  	<p> Startups submit requests to UXA for help. Meetups are arranged with dinner and drinks to discuss and brainstorm problems—no commitments, just opportunities.</p>
	</div>
	
	<div class="col-sm-6">
    <h1>How do I join?</h1>
    <p>Only the best of the best are invited to join UXA. You may request an invite below:</p>
	  <a href="/contacts" class="btn btn-lg btn-uxa">Request an invite</a>
  </div>

</div>
