<!--- REQUEST US!
====================================== -->          

<div class="hero-block" style="background-image: url('<%= asset_path('uxd-working.jpg') %>');" >

  <div class="container">
    
		<div class="col-sm-6" style="background-color:rgba(0,0,0,0.8); padding: 10px 30px;">
		  <h1>Why get help from UXA?</h1>
		  <ol>
	  		<li> Get honest feedback from design professionals</li>
	  		<li> Brainstorm and solve design problems</li>
	  		<li> Network and discover talent</li>
  		</ol>
  	</div>
	
	</div>

</div>       

<div class="container">
  
  <div class="col-sm-12">
	  <h1>How it works</h1>
	  <p> Startups and nonprofits submit requests to UXA for help. Meetups are arranged to review your product or discuss and brainstorm—there is no cost, just friendly sharing.</p>
	</div>
	
  <div class="col-sm-6">
	  <h1>Who are we?</h1>
	  <p>We're a band of seasoned UX and professionals looking to network with startups and non-profits.</p>
    <a href="/static_pages/about" class="btn btn-lg btn-uxa">Learn about the team</a>
	</div>
	
	<div class="col-sm-6">
    <h1>Request an angel</h1>
	  <p>It all starts by telling us your interested in meeting with an angel. Request below:</p>
	  <a href="/contacts" class="btn btn-lg btn-uxa">Send us a request</a>
  </div>

</div>